/* Palette: #C2DED1 #ECE5C7 #CDC2AE #354259 */

body{
    background-color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.presentation{
    /* background-color: #C2DED1; */
    background-color: #C2DED1;
}
